.header {
  margin: 0px 0px 48px 0px;
  display: block;
}

.header__about,
.header__contacts {
  display: inline-block;
}

.header__name .item {
  font-weight: 600;
  background-color: #ffaa13;
  color: #0e0e0e;
  padding: 2px 6px 2px 6px;
  border-radius: 20px;
}

.header__contact {
  margin-left: 8px;
  display: inline;
}
.header__contacts {
  float: right;
}

.behance:hover .item {
  background-color: #1769ff;
  color: #ffffff;
}

.dribbble:hover .item {
  background-color: #ea4c89;
  color: #ffffff;
}

.upwork:hover .item {
  background-color: #37a000;
  color: #ffffff;
}

.mail:hover .item {
  background-color: #ea4335;
  color: #ffffff;
}

@media (max-width: 320px) and (orientation: portrait) {
  .mail {
    display: none;
  }
  .header__contact not(.mail) {
    display: block;
    float: left;
  }
  .header__contacts {
    margin: 8px 46px 0px 0px;
  }
}

@media (min-width: 321px) and (max-width: 460px) and (orientation: portrait) {
  .header__contact {
    display: block;
    float: left;
  }
  .header__contacts {
    margin: 8px 0px 0px -8px;
    float: left;
  }
}
