.header2 {
  margin: 0 auto;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
}

@media (max-width: 320px) and (orientation: portrait) {
  .header2 {
    font-size: 20px;
  }
}

@media (min-width: 321px) and (max-width: 460px) and (orientation: portrait) {
  .header2 {
    font-size: 24px;
  }
}
