@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=cyrillic");

html,
body {
  height: 100%;
  background-color: #0e0e0e;
}

body {
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  display: block;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
